<a href="https://colab.research.google.com/github/heejinohn/lzho/blob/heejinohn/combine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install wrds datetime
import pandas as pd, numpy as np, wrds
import datetime as dt

Requirement already satisfied: wrds in /usr/local/lib/python3.7/dist-packages (3.0.8)
Requirement already satisfied: datetime in /usr/local/lib/python3.7/dist-packages (4.3)
Requirement already satisfied: mock in /usr/local/lib/python3.7/dist-packages (from wrds) (4.0.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wrds) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.4.7)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (from wrds) (2.8.6)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2018.9)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from datetime) (5.4.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2.8.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (1.0.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (3.10.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (56.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wrds) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->wrds) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->wrds) (3.7.4.3)

# Read datasets

In [12]:
ticker.append?

In [14]:
ticker = pd.DataFrame()
for i in range(2019,2020,1):
    read = pd.read_parquet(f'/content/ticker_{i}.parquet.gzip')
    ticker = ticker.append(read)
col = ['date_utc','num_comments','score',
        'ticker_a','ticker_b']
ticker = ticker[col]

In [4]:
def comb_tic(x):
    if len(x[1]) == 0:
        return x[0]
    elif len(x[0]) == 0:
        return x[1]
    else:
       return list(set(x[0]).union(x[1]))

In [5]:
ticker['comb_tic'] = ticker[['ticker_a','ticker_b']].apply(comb_tic, axis=1)

In [10]:
ticker.shape

(71561, 6)

In [11]:
ticker[ticker['comb_tic'].apply(len) != 0]

                        date_utc  ...                   comb_tic
id                                ...
eiaz8e 2019-12-31 23:58:26+00:00  ...     [DD, UBER, AMZN, LYFT]
eiatp9 2019-12-31 23:45:57+00:00  ...                 [DD, WEAT]
eiasq6 2019-12-31 23:43:38+00:00  ...                     [BSGM]
eial7r 2019-12-31 23:26:59+00:00  ...                 [PE, TLRD]
eia4wt 2019-12-31 22:50:25+00:00  ...  [PTI, LK, YOLO, XLE, NIO]
...                          ...  ...                        ...
abej5o 2019-01-01 03:32:20+00:00  ...                       [GS]
abdmiy 2019-01-01 01:28:41+00:00  ...                  [USO, DD]
abdgg0 2019-01-01 01:07:50+00:00  ...                      [SPX]
abd7gh 2019-01-01 00:38:52+00:00  ...                     [ULTA]
abd503 2019-01-01 00:31:03+00:00  ...               [CEO, V, GE]

[27698 rows x 6 columns]