<a href="https://colab.research.google.com/github/heejinohn/lzho/blob/heejinohn/combine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [203]:
!pip install wrds datetime
import pandas as pd, numpy as np, wrds, pytz
import datetime as dt

Requirement already satisfied: wrds in /usr/local/lib/python3.7/dist-packages (3.0.8)
Requirement already satisfied: datetime in /usr/local/lib/python3.7/dist-packages (4.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.4.7)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (from wrds) (2.8.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wrds) (1.1.5)
Requirement already satisfied: mock in /usr/local/lib/python3.7/dist-packages (from wrds) (4.0.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime) (2018.9)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from datetime) (5.4.0)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (1.0.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (3.10.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime) (56.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->wrds) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->wrds) (3.7.4.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wrds) (1.15.0)

# Read datasets

In [204]:
ticker = pd.DataFrame()
for i in range(2019,2020,1):
    read = pd.read_parquet(f'/content/ticker_{i}.parquet.gzip')
    ticker = ticker.append(read)
col = ['date_utc','num_comments','score',
        'ticker_a','ticker_b']
ticker = ticker[col]
### change directory on WRDS

# Combine tickers

In [205]:
def comb_tic(x):
    if len(x[1]) == 0:
        return x[0]
    elif len(x[0]) == 0:
        return x[1]
    else:
       return list(set(x[0]).union(x[1]))

In [206]:
ticker['comb_tic'] = ticker[['ticker_a','ticker_b']].apply(comb_tic, axis=1)

In [207]:
ticker['add_col'] = ticker['comb_tic'].apply(len)

# Separate columns

In [208]:
pos = len(ticker.columns)
tics = []
for i in range(pos, ticker['add_col'].max() + pos, 1):
    tics = tics + [f'tic{i - pos}']

In [209]:
ticker[tics] = pd.DataFrame(ticker['comb_tic'].to_list(), index=ticker.index)
ticker.drop(['ticker_a','ticker_b','comb_tic'],inplace=True, axis=1)

# Merge rewards from csv

In [210]:
wsb = pd.read_csv('/content/r_wallstreetbets_posts.csv',index_col='id',low_memory=False)

In [211]:
wsb = wsb[['total_awards_received']]

In [212]:
ticker = ticker.merge(wsb,how='left',left_index=True,right_index=True)

# Shift dates

In [213]:
ticker['datetime'] = ticker['date_utc'].dt.tz_convert('US/Eastern')

In [223]:
start = dt.time(16,0,0)
end = dt.time(23,59,59)
ticker['date'] = np.where(ticker['datetime'].dt.time.between(start,end),
                          ticker['datetime'].dt.date + pd.DateOffset(days=1),
                          ticker['datetime'].dt.date)

In [231]:
ticker['date'] = pd.to_datetime(ticker['date'],unit='ms')

In [ ]:
ticker['dat']

# Transpose

In [128]:
tic_t = pd.wide_to_long(ticker.reset_index(),'tic',i='id',j='num')[lambda x: ~x['tic'].isna()]

In [129]:
tic_t.head()

            num_comments  add_col  ...  score   tic
id     num                         ...
eiaz8e 0               5        4  ...      1    DD
eiatp9 0              38        2  ...      1    DD
eiasq6 0               0        1  ...      1  BSGM
eial7r 0              16        2  ...      1    PE
eia4wt 0               0        5  ...      1   PTI

[5 rows x 6 columns]