<a href="https://colab.research.google.com/github/heejinohn/lzho/blob/heejinohn/qrtopt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install wrds

Collecting wrds
  Downloading wrds-3.0.10-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wrds) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.19.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.4.20)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
     |████████████████████████████████| 3.4 MB 7.8 MB/s
Collecting mock
  Downloading mock-4.0.3-py3-none-any.whl (28 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wrds) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (1.1.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (4.6.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->wrds) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->wrds) (3.5.0)
Installing collected packages: psycopg2-binary, mock, wrds
Successfully installed mock-4.0.3 psycopg2-binary-2.9.1 wrds-3.0.10

In [2]:
import wrds

In [3]:
db = wrds.Connection()

Enter your WRDS username [root]:hohn
Enter your password:··········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [4]:
db.describe_table('optionm','opvold')

Approximately 61360236 rows in optionm.opvold.

            name  nullable              type
0          secid      True  DOUBLE_PRECISION
1           date      True              DATE
2        cp_flag      True        VARCHAR(1)
3         volume      True  DOUBLE_PRECISION
4  open_interest      True  DOUBLE_PRECISION

In [5]:
tqry = """
        select * from optionm.opvold
        where date between '2017/01/01' and '2017/12/31' and
           cp_flag is null        
"""

cpqry = """
        select * from optionm.opvold
        where date between '2017/01/01' and '2017/12/31' and
           cp_flag is not null
"""

tvol = db.raw_sql(tqry,date_cols='date')
cpvol = db.raw_sql(cpqry,date_cols='date')

In [6]:
tvol.secid = tvol.secid.astype(int)
cpvol.secid = cpvol.secid.astype(int)

In [7]:
tvol.rename({'volume':'tvol','open_interest':'tinterest'},
             axis=1,inplace=True)

In [8]:
list(cpvol)

['secid', 'date', 'cp_flag', 'volume', 'open_interest']

In [9]:
cpvol = cpvol.pivot_table(index=['secid','date'],columns='cp_flag',
                  values=['volume','open_interest'])

In [10]:
cpvol.columns = ['_'.join(col) for col in cpvol.columns.values]

In [11]:
tvol.drop('cp_flag',inplace=True,axis=1)

In [12]:
cpvol['int_gap'] = cpvol['open_interest_C']- cpvol['open_interest_P']

In [13]:
cpvol.reset_index()

          secid       date  open_interest_C  ...  volume_C  volume_P  int_gap
0          6505 2017-01-03             28.0  ...       0.0       0.0   -201.0
1          6505 2017-01-04             28.0  ...       0.0       2.0   -201.0
2          6505 2017-01-05             28.0  ...       0.0       0.0   -201.0
3          6505 2017-01-06             28.0  ...       0.0       1.0   -201.0
4          6505 2017-01-09             28.0  ...       0.0      12.0   -202.0
...         ...        ...              ...  ...       ...       ...      ...
1085601  212409 2017-12-22            938.0  ...      27.0      20.0    828.0
1085602  212409 2017-12-26            951.0  ...      22.0      33.0    821.0
1085603  212409 2017-12-27            969.0  ...      14.0      53.0    806.0
1085604  212409 2017-12-28            970.0  ...      13.0    2094.0    758.0
1085605  212409 2017-12-29            972.0  ...      55.0     824.0  -1245.0

[1085606 rows x 7 columns]

In [14]:
tvol = tvol.set_index(['secid','date']).sort_index().reset_index()

In [17]:
tvol.to_stata('tvol.dta')
cpvol.to_stata('cpvol.dta')