<a href="https://colab.research.google.com/github/heejinohn/lzho/blob/heejinohn/RH_popularity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Import packages

In [1]:
import os
import pandas as pd
import datetime as dt
import wrds

# Combine files

## Iterating over files

In [2]:
files = [x for x in os.listdir('/content/') if '.csv' in x]
files.sort()
ticker = [x.rsplit('.csv')[0] for x in files]

In [3]:
#def chunks(lst, n):
#    """Yield successive n-sized chunks from lst."""
#    for i in range(0, len(lst), n):
#        yield lst[i:i + n]

This function can be used to devide the file list into chunks. It might come in handy to run script on the **8,597** files.

## Appending data

In [4]:
time = []
users = []
tic = []
for i in range(len(files)):
    filepath = '/content'
    pos = os.path.join(filepath, files[i])
    read = pd.read_csv(pos, sep=',', header=0)
    time.extend(list(read.iloc[:,0]))
    users.extend(list(read.iloc[:,1]))
    tic.extend([ticker[i]] * len(read))

## Reading data into dataframe

In [5]:
data = pd.DataFrame({'tic':tic, 'timestamp':time, 'users_holding':users})

## Change *timestamp* to datetime type

In [6]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

# Summarize data to daily intervals

In [8]:
data['date'] = data['timestamp'].dt.date

In [9]:
g = data[['tic','date','users_holding']].groupby(['tic','date'])

In [10]:
data[data['tic']=='WOOD']

        tic           timestamp  users_holding        date
0      WOOD 2018-05-02 04:56:03            192  2018-05-02
1      WOOD 2018-05-02 06:41:14            192  2018-05-02
2      WOOD 2018-05-03 00:38:09            194  2018-05-03
3      WOOD 2018-05-03 06:36:25            194  2018-05-03
4      WOOD 2018-05-03 06:51:23            194  2018-05-03
...     ...                 ...            ...         ...
19746  WOOD 2020-08-13 15:57:45            245  2020-08-13
19747  WOOD 2020-08-13 16:56:11            247  2020-08-13
19748  WOOD 2020-08-13 20:56:09            248  2020-08-13
19749  WOOD 2020-08-13 21:53:39            248  2020-08-13
19750  WOOD 2020-08-13 22:58:10            248  2020-08-13

[19751 rows x 4 columns]

In [17]:
daily = g.users_holding.aggregate(['first','last','min','max'])

In [22]:
daily.loc['WOOD',:]

            first  last  min  max
date
2018-05-02    192   192  192  192
2018-05-03    194   193  193  194
2018-05-04    193   193  193  193
2018-05-05    193   193  193  193
2018-05-06    193   193  193  193
...           ...   ...  ...  ...
2020-08-09    236   236  236  236
2020-08-10    236   241  236  241
2020-08-11    241   241  239  243
2020-08-12    241   245  241  245
2020-08-13    245   248  245  248

[818 rows x 4 columns]

# Grander causality

- openning
- closing
- min
- max

- Type of firms
- Institutional holdings

# Lead-lag relation
Timing of information and actual trading

$WSB_t=\beta_0+ \sum_{\substack{{}\\t-3}}^{t+3} \beta_n\times \Delta ROBINHOOD_n
$

$\Delta ROBINHOOD_t=\beta_0+ \sum_{\substack{{}\\t-3}}^{t+3} \beta_n\times WSB_n$

# CRSP
- Bid-ask
- *High-low*

other than returns; during trading hours