<a href="https://colab.research.google.com/github/heejinohn/lzho/blob/heejinohn/RH_popularity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Import packages

In [1]:
import os
import pandas as pd
import datetime as dt

# Combine files

## Iterating over files

In [5]:
files = [x for x in os.listdir('/Users/ohn0000/Dropbox/hjlz/popularity_export/')
         if '.csv' in x and x.startswith("A")]
files.sort()
ticker = [x.rsplit('.csv')[0] for x in files]

In [ ]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

This function can be used to devide the file list into chunks. It might come in handy to run script on the **8,597** files.

## Appending data

In [6]:
time = []
users = []
tic = []
for i in range(len(files)):
    filepath = '/Users/ohn0000/Dropbox/hjlz/popularity_export/'
    pos = os.path.join(filepath, files[i])
    read = pd.read_csv(pos, sep=',', header=0)
    time.extend(list(read.iloc[:,0]))
    users.extend(list(read.iloc[:,1]))
    tic.extend([ticker[i]] * len(read))

## Reading data into dataframe

In [7]:
data = pd.DataFrame({'tic':tic, 'timestamp':time, 'users_holding':users})

## Change *timestamp* to datetime type

In [8]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [9]:
data.size

31770795

In [10]:
data.head(30)

   tic           timestamp  users_holding
0    A 2018-05-02 04:56:43          590.0
1    A 2018-05-02 06:41:54          590.0
2    A 2018-05-03 00:38:56          586.0
3    A 2018-05-03 06:37:13          586.0
4    A 2018-05-03 06:52:09          586.0
5    A 2018-05-03 07:10:28          586.0
6    A 2018-05-03 07:37:37          586.0
7    A 2018-05-03 07:46:54          586.0
8    A 2018-05-03 11:22:34          586.0
9    A 2018-05-03 12:45:58          586.0
10   A 2018-05-03 13:45:59          586.0
11   A 2018-05-03 14:45:59          587.0
12   A 2018-05-03 15:46:00          586.0
13   A 2018-05-03 16:46:00          587.0
14   A 2018-05-03 17:45:59          587.0
15   A 2018-05-03 18:45:59          587.0
16   A 2018-05-03 19:45:59          587.0
17   A 2018-05-03 20:45:59          587.0
18   A 2018-05-03 21:45:58          587.0
19   A 2018-05-03 22:46:00          587.0
20   A 2018-05-03 23:45:58          587.0
21   A 2018-05-04 00:45:59          587.0
22   A 2018-05-04 01:45:59          587.0
23   A 2018-05-04 02:46:01          587.0
24   A 2018-05-04 03:45:59          587.0
25   A 2018-05-04 04:45:59          587.0
26   A 2018-05-04 05:45:59          587.0
27   A 2018-05-04 06:45:59          587.0
28   A 2018-05-04 07:45:59          587.0
29   A 2018-05-04 08:46:00          587.0

# Convert data to daily intervals

# Grander causality

- openning
- closing
- min
- max

- Type of firms
- Institutional holdings

# Lead-lag relation
Timing of information and actual trading

$WSB_t=\beta_0+ \sum_{\substack{{}\\t-3}}^{t+3} \beta_n\times \Delta ROBINHOOD_n
$

$\Delta ROBINHOOD_t=\beta_0+ \sum_{\substack{{}\\t-3}}^{t+3} \beta_n\times WSB_n$

# CRSP
- Bid-ask
- *High-low*

other than returns; during trading hours